.button {
    vertical-align: top;
    height: 96px; /* в случае вертикального центрирования, если маленькая иконка внутри без текста */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: none;
    padding: 41px 24px;
    min-width: 100px;
    background-color: #009EFF;
    border-radius: 32px;
    font-family: inherit;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: padding var(--transition-hover);
}

.button:hover {
    padding-top: 38px;
    padding-bottom: 44  px;
}

.button:active {
    translate: 0 1px;
}
    .button__icon {
        margin-top: -2px;
        margin-bottom: -2px;
        fill: currentColor;
    }

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #F6F6F6;
    color: var(--disabled-color);
    translate: none;
    cursor: default;
}


.button--secondary {
    background-color: var(--12pct-block);
    color: var(--50pct-gray-label);
}

.button--secondary:hover {

}

.button--yellow,
.button--yellow:hover {
    background-color: #FFCC6B;
    color: #000000;
}

.button--gray {
    background-color: var(--50pct-gray-label);
}

.button--gray:hover {
    background-color: #A2A2A2;
}


.button--black {
    background-color: var(--8pct-black);
}

.button--black:hover {
    background-color: #1E1E1E;
}


.button--transparent {
    background-color: transparent;
    color: var(--50pct-gray-label);
}

.button--transparent:hover {
    background-color: transparent;
    color: var(--50pct-gray-label);
}

.button--smaller {
    height: 48px;
    padding: 14px 24px;
    border-radius: 16px;
}

.button--smaller:hover {
    padding-top: 12px;
    padding-bottom: 16px;
}

.button--square {
    min-width: 0;
    width: 96px;
    padding-left: 0;
    padding-right: 0;
}

.button--square.button--smaller {
    width: 48px;
}

