.cart-block {
    display: flex;
    align-items: center;
    gap: 24px;
}
    .cart-block__illustration {
        flex-shrink: 0;
        width: 112px;
        height: 112px;
        border-radius: 32px;
    }

    .cart-block__body {

    }
        .cart-block__heading {

        }

        .cart-block__tags {
            margin-top: 8px;
            color: var(--50pct-gray-label);
        }

        .cart-block__stats {
            margin-top: 10px;
            display: flex;
            align-items: flex-start;
        }
