.chapter {
    display: grid;
    grid-template-columns: 288px 480px;
    align-items: center;
    gap: 64px;
}
    .chapter__body {

    }
        .chapter__index {
            color: #808080;
        }

        .chapter__heading {
            margin-top: 4px;
            max-width: 296px;
        }

        .chapter__description {
            margin-top: 8px;
            color: #808080;
        }

    .chapter__preview {

    }
        .chapter__illustration {
            border-radius: 48px;
            vertical-align: top;
        }
