.container {
    width: 100%;
    min-width: calc(var(--container-width-min) + 2 * var(--container-padding));
    max-width: calc(var(--container-width-max) + 2 * var(--container-padding));
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    margin-left: auto;
    margin-right: auto;
}

.container--fixed-at-min-width {
    /* Фиксированная ширина */
    min-width: 0;
    max-width: none;
    width: calc(var(--container-width-min) + 2 * var(--container-padding));
}

.container--feedback {
    /* Здесь ширина специфичная для четырёх сторизов */
    min-width: 0;
    max-width: none;
    width: calc(var(--container-width-feedback) + 2 * var(--container-padding));
}


@media (width < 740px) {

    .container {
        width: auto;
    }
}
