.cookies {
    position: fixed;
    z-index: 100;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    gap: 16px;
    padding: 32px;
    background-color: #FFFFFF;
    color: var(--15pct-block);
    border-radius: 32px;
}
    .cookies__message {

    }

    .cookies__action {
        margin-top: 24px;
    }
        .cookies__action .button {
            width: 100%;
        }



@media (1500px <= width) {

    .cookies {
        top: auto;
        bottom: 48px;
        transform: none;
    }
        .cookies__message {

        }

        .cookies__action {

        }
            .cookies__action .button {

            }
}
