.cookies {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 32px;
    margin: auto;
    width: 752px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 24px 24px 32px;
    background-color: #FFFFFF;
    color: var(--15pct-block);
    border-radius: 32px;
}
    .cookies__message {
        flex-grow: 1;
    }

    .cookies__action {
        width: 125px;
        flex-shrink: 0;
    }
        .cookies__action .button {
            width: 100%;
        }
