.cookies {
    position: fixed;
    z-index: 100;
    right: 48px;
    bottom: 136px;
    width: 320px;
    gap: 16px;
    padding: 32px;
    background-color: #FFFFFF;
    color: var(--15pct-block);
    border-radius: 32px;
}
    .cookies__message {

    }

    .cookies__action {
        margin-top: 24px;
    }
        .cookies__action .button {
            width: 100%;
        }
