.crowd {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}
    .crowd__person {
        vertical-align: top;
        background-color: var(--image-fallback);
        border-radius: 50%;
        margin-left: -4px;
    }
