.details {
    position: relative;
    width: var(--container-width-min);
}
    .details__video {
        position: absolute;
        inset: 0;
        vertical-align: top;
        width: 100%;
        height: auto;
        aspect-ratio: 1920 / 1080;
        background-color: var(--image-fallback);
        border-radius: 64px;
    }

    .details__stage {
        height: 512px;
        padding-bottom: 56px;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
        .details__stats {
            display: flex;
            align-items: flex-start;
            gap: 2px;
        }

        .details__heading {
            margin-top: 4px;
            margin-bottom: 0;
            color: #FFFFFF;
        }

        .details__tags {
            margin-top: 16px;
            display: flex;
            align-items: flex-start;
            gap: 2px;
        }

        .details__explainer {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 720px;
            bottom: 16px;
            color: var(--70pct-text);
            text-align: center;
        }

    .details__body {
        position: relative;
    }
        .details__summary {
            padding: 96px 144px;
            background-color: var(--7pct-bg-new);
            border-radius: 64px;
        }
            .details__pre-heading {
                color: var(--50pct-gray-label);
            }

            .details__sub-heading {
                margin-top: 16px;
                color: #FFFFFF;
            }

            .details__description {
                margin-top: 16px;
                max-width: 768px;
                color: #FFFFFF;
            }

            .details__note {
                margin-top: 32px;
                padding: 24px 32px;
                background-color: #1F1F1F;
                border-radius: 32px;
                color: var(--70pct-text);
            }

        .details__chapters {
            margin-top: 8px;
            background-color: var(--7pct-bg-new);
            padding: 96px 144px;
            border-radius: 64px;
        }
            .details__pre-heading {

            }

            .details__chapters-heading {
                margin-top: 16px;
                margin-bottom: 0;
            }

            .details__description {
                margin-top: 16px;
                max-width: 768px;
            }

            .details__tag {
                margin-top: 32px;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                max-width: 768px;
            }

            .details__chapters-list {
                margin-top: 72px;
                display: flex;
                flex-direction: column;
                gap: 32px;
            }

        .details__footer {
            margin-top: 8px;
            padding: 32px;
            background-color: var(--7pct-bg-new);
            border-radius: 64px;
        }
            .details__submit {

            }
                .details__submit .button {
                    width: 100%;
                }

            .details__back {

            }
                .details__back .button {
                    width: 100%;
                }

    .details__close {
        position: absolute;
        left: 100%;
        margin-left: 16px;
        top: 0;
    }
        .details__close .button {
            border-radius: 16px;
        }




@media (width < 740px) {

    .details {
        width: 100%;
        max-width: 440px;
    }
}
