.faq {
    margin-top: var(--sections-spacing);
}
    .faq__body {

    }
        .faq__item {
            margin-top: 8px;
            background-color: var(--12pct-block);
            border-radius: 48px;
        }

        .faq__item:first-child {
            margin-top: 0;
        }

        .faq__item:first-child {
            border-top: none;
        }
            .faq__question {
                position: relative;
                padding: 48px;
                font-size: 22px;
                line-height: 22px;
                color: #FFFFFF;
                cursor: pointer;
                user-select: none;
            }

            .faq__question:hover {

            }
                .faq__index {
                    width: fit-content;
                    padding: 16px;
                    background-color: var(--30pct-footer-text-3);
                    border-radius: 16px;
                }

                .faq__sub-heading {
                    margin-top: 16px;
                    margin-bottom: 0;
                }

                .faq__question::after {
                    content: "";
                    position: absolute;
                    right: 48px;
                    top: 48px;
                    display: block;
                    width: 48px;
                    height: 48px;
                    background-color: var(--30pct-footer-text-3);
                    background-image: url("../vectors/faq-chevron.svg");
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    border-radius: 16px;
                }

                .faq__item:first-child .faq__question {
                    border-top-left-radius: 48px;
                    border-top-right-radius: 48px;
                }

                .faq__item:last-child:not(.faq__item--expanded) .faq__question {
                    border-bottom-left-radius: 48px;
                    border-bottom-right-radius: 48px;
                }

            .faq__answer {
                margin-top: -24px;
                padding: 0 48px 48px;
                color: var(--50pct-gray-label);
                max-width: 992px;
                display: none;
            }

.faq__item--expanded {

}
    .faq__item--expanded .faq__question::after {
        transform: scaleY(-1);
    }

    .faq__item--expanded .faq__answer {
        display: block;
        animation: slide-down var(--transition-slide);
    }
