.faq {

}
    .faq__wrap {
        margin-top: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #FFFFFF;
        border-radius: 32px;
    }
        .faq__item {
            padding: 34px 80px;
            border-top: 2px solid #F5F5F7;
        }

        .faq__item:first-child {
            border-top: none;
        }
            .faq__question {
                position: relative;
                font-size: 22px;
                line-height: 22px;
                letter-spacing: -0.4px;
                color: #000000;
            }
                .faq__question::after {
                    content: "";
                    position: absolute;
                    right: -32px;
                    top: 0;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url("../vectors/faq-chevron.svg");
                }

            .faq__answer {
                margin-top: 28px;
                font-size: 22px;
                line-height: 26px;
                letter-spacing: -0.4px;
                color: #666666;
            }
