.faq {
    margin-top: var(--sections-spacing);
}
    .faq__body {

    }
        .faq__item {
            margin-top: 2px;
            background-color: var(--15pct-block);
        }

        .faq__item:first-child {
            margin-top: 0;
            border-top-left-radius: 48px;
            border-top-right-radius: 48px;
        }

        .faq__item:last-child {
            border-bottom-left-radius: 48px;
            border-bottom-right-radius: 48px;
        }

        .faq__item:first-child {
            border-top: none;
        }
            .faq__question {
                position: relative;
                padding: 36px 80px;
                font-size: 22px;
                line-height: 22px;
                color: #FFFFFF;
                cursor: pointer;
                user-select: none;
            }

            .faq__question:hover {
                background-color: #323232;
            }

            .faq__item:first-child .faq__question {
                border-top: 14px solid transparent;
            }

            .faq__item:last-child .faq__question {
                border-bottom: 14px solid transparent;
            }
                .faq__question::after {
                    content: "";
                    position: absolute;
                    right: 48px;
                    top: 31px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-color: var(--30pct-footer-text-3);
                    background-image: url("../vectors/faq-chevron.svg");
                    border-radius: 8px;
                    transition: transform var(--transition-slide);
                }

                .faq__item:first-child .faq__question {
                    border-top-left-radius: 32px;
                    border-top-right-radius: 32px;
                }

                .faq__item:last-child:not(.faq__item--expanded) .faq__question {
                    border-bottom-left-radius: 32px;
                    border-bottom-right-radius: 32px;
                }

            .faq__answer {
                margin-top: -4px;
                padding: 0 80px 32px;
                color: var(--50pct-gray-label);
                display: none;
            }

.faq__item--expanded {

}
    .faq__item--expanded .faq__question::after {
        transform: scaleY(-1);
    }

    .faq__item--expanded .faq__answer {
        display: block;
        animation: slide-down var(--transition-slide);
    }
