.flying-panel {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease,
                visibility 300ms ease;
}


.flying-panel--visible {
    opacity: 1;
    visibility: visible;
}
