.footer {
    margin-top: 38px;
    padding-bottom: 38px;
}
    .footer__primary {
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
        .footer__info {
            margin-top: -6px;
            flex-shrink: 0;
            color: var(--30pct-footer-text-3);
        }

        .footer__note {
            width: 384px;
            padding: 13px 16px;
            background-color: var(--20pct-tool-tip);
            border-radius: 16px;
            font-size: 16px;
            line-height: 20px;
            color: var(--70pct-text);
        }

    .footer__secondary {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
        .footer__legalities {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        .footer__media {
            margin-top: -6px;
            margin-bottom: -6px;
            margin-right: -6px;
            display: flex;
            gap: 8px;
        }
            .footer__social {
                width: 48px;
                height: 48px;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .footer__social--adulthood {

            }

            .footer__social--telegram {

            }

            .footer__social--youtube {

            }

            .footer__social--instagram {

            }
