.footer {
    margin-top: 38px;
    padding-bottom: 38px;
}
    .footer__primary {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
        .footer__info {
            margin-top: -6px;
            flex-shrink: 0;
            color: var(--30pct-footer-text-3);
        }

        .footer__note {
            position: absolute;
            right: 0;
            bottom: -16px;
            width: 435px;
            padding: 16px;
            background-color: var(--20pct-tool-tip);
            border-radius: 16px;
            font-size: 16px;
            line-height: 20px;
            color: var(--70pct-text);
        }

    .footer__secondary {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
        .footer__legalities {
            display: flex;
            align-items: flex-start;
            gap: 16px;
        }

        .footer__media {
            display: flex;
            gap: 8px;
        }
            .footer__social {
                width: 48px;
                height: 48px;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
            }

            .footer__social--adulthood {
                background-image: url("../vectors/footer-media/footer-adulthood.svg");
            }

            .footer__social--telegram {
                background-image: url("../vectors/footer-media/footer-telegram.svg");
            }

            .footer__social--youtube {
                background-image: url("../vectors/footer-media/footer-youtube.svg");
            }

            .footer__social--instagram {
                background-image: url("../vectors/footer-media/footer-instagram.svg");
                filter: blur(3px);
            }
