.mad-rabbit {
    display: inline-block;
    align-items: baseline;
    padding: 12px 12px 12px 40px;
    background-color: #D9D9D9;
    background-image: url("../images/mad-rabbit/mad-rabbit@1x.png");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    border-radius: 20px;
    color: #323232;
}

@media (min-resolution: 1.2dppx) {

    .mad-rabbit {
        background-image: url("../images/mad-rabbit/mad-rabbit@2x.png");
    }
}
