.mentor {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px 12px 4px 4px;
    background-color: #FFFFFF;
    color: var(--0pc-black);
    border-radius: 24px 16px 16px 24px;
}
    .mentor__avatar {
        vertical-align: top;
        width: 40px;
        height: 40px;
        background-color: var(--image-fallback);
        border-radius: 50%;
    }
