.main-actions {
    padding: 8px;
    background-color: var(--7pct-bg-new);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 40px;
    width: 720px;
}
    .main-actions__begins {
        flex-grow: 1;
    }
        .main-actions__begins .button {
            width: 100%;
        }

    .main-actions__telegram {
        flex-shrink: 0;
    }
