.our-courses {

}
    .our-courses__wrap {
        background-color: #FFFFFF;
        border-radius: 72px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
        .our-courses__body {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 8px;
        }
