.pros {
    margin-top: var(--sections-spacing);
}
    .pros__body {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 8px;
    }
        .pros__item {
            display: flex;
            flex-direction: column;
        }
            .pros__preview {

            }
                .pros__image {
                    width: 100%;
                    vertical-align: top;
                    border-radius: 32px;
                }

            .pros__tile-body {
                margin-top: 8px;
                flex-grow: 1;
                padding: 32px;
                background-color: #1F1F1F;
                border-radius: 32px;
            }
                .pros__index {
                    color: var(--50pct-gray-label);
                }

                .pros__heading {
                    margin-top: 8px;
                    color: #FFFFFF;
                }

                .pros__note {
                    margin-top: 16px;
                    color: var(--50pct-gray-label);
                }
