.pros {
    padding-top: 144px;
    padding-bottom: 144px;
}
    .pros__label {
        text-align: center;
    }

    .pros__heading {
        margin-top: 16px;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 56px;
        line-height: 56px;
        text-align: center;
    }

    .pros__body {
        margin-top: 48px;
    }
