.pros {
    margin-top: var(--sections-spacing);
}
    .pros__body {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 8px;
    }
        .pros__item {

        }
            .pros__preview {

            }
                .pros__image {
                    width: 100%;
                    vertical-align: top;
                    border-radius: 32px;
                }

            .pros__tile-body {
                padding-left: 16px;
            }
                .pros__index {
                    margin-top: 32px;
                    color: #808080;
                }

                .pros__heading {
                    margin-top: 8px;
                    color: #1A1A1A;
                }

                .pros__note {
                    margin-top: 16px;
                    color: #999999;
                }
