:root {
    --font: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --body-font-size: 16px;
    --body-line-height: 24px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    --transition-slide: 600ms var(--ease-out-quint);
    --transition-show: 1200ms var(--ease-out-quint);
    --image-fallback: #000000;
    --container-padding: 40px;
    --container-width: 1120px;
    --container-width-wide: 1360px;
    --action-color: #0D7FC5;
    --action-color-hover: #2FA5ED;
    --input-border: #B3B3B3;
    --input-border-hover-and-focus: var(--yellow);
    --placeholder-color: var(--50pct-gray-label);
    --disabled-background: #F6F6F6;
    --disabled-color: #999999;
    --error: #FF0033;
    --sections-spacing: 144px;
    --spacing-under-header: 48px;
    --50pct-gray-label: #808080;
    --30pct-footer-text-3: #4D4D4D;
    --20pct-tool-tip: #333333;
    --90pct-on-color-bg: rgb(230 230 230 / 25%);
    --15pct-block: #262626;
    --70pct-text: #B3B3B3;
    --10pct-bg: #1A1A1A;
    --8pct-black: #141414;
    --yellow: #FFCC6B;
}

@media (350px <= width < 740px) {
    :root {
        --container-padding: 24px;
    }
}

@media (width < 350px) {
    :root {
        --container-padding: 16px;
    }
}
