.section-head {
    padding-bottom: var(--spacing-under-header);
}
    .section-head__label {
        text-align: center;
    }

    .section-head__heading {
        margin-top: 16px;
        margin-bottom: 0;
        text-align: center;
        color: #2E2F33;
    }

    .section-head__note {
        margin-top: 16px;
        color: #808080;
        text-align: center;
    }

    .section-head__tags {
        width: 800px;
        margin: 24px auto -16px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4px;
    }
