.select-course {
    margin-top: var(--sections-spacing);
}
    .select-course__switch {
        margin-top: -32px;
        margin-bottom: 32px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .select-course__body {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;
    }
        .select-course__column {
            background-color: var(--12pct-block);
            border-radius: 32px;
        }
            .select-course__sub-head {
                padding: 32px;
                display: flex;
                align-items: center;
                gap: 8px;
                border-bottom: 2px solid var(--7pct-bg-new);
            }

            .select-course__contains {
                padding: 32px 32px 56px;
            }
                .select-course__item {
                    margin-top: 16px;
                }

                .select-course__item:first-child {
                    margin-top: 0;
                }


              /* правый столбик */

                .select-course__tabs {

                }

                .select-course__fieldset {
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .select-course__requisites {
                    margin-top: 24px;
                    font-weight: 500;
                    color: var(--50pct-gray-label);
                }

                .select-course__checks {
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }

                .select-course__submit {
                    margin-top: 16px;
                }
                    .select-course__submit .button {
                        width: 100%;
                    }

                .select-course__note {
                    margin-top: 16px;
                    color: var(--50pct-gray-label);
                    text-align: center;
                }

            .select-course__input {
                height: 56px;
                margin-bottom: 8px;
                background-color: #FFFFFF;
                border: 1px solid #B3B3B3;
                border-radius: 16px;
            }
