.select-course {
    margin-top: var(--sections-spacing);
}
    .select-course__body {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 8px;
    }
        .select-course__column {
            background-color: #D9D9D9;
            border-radius: 24px;
        }
            .select-course__sub-head {
                padding: 16px 24px;
                display: flex;
                align-items: center;
                gap: 8px;
                box-shadow: inset 0 -1px 0 #B3B3B3;
            }
                .select-course__index {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    background-color: #B3B3B3;
                    border-radius: 8px;
                    font-size: 14px;
                    line-height: 14px;
                    color: #333333;
                    text-align: center;
                }

                .select-course__sub-heading {
                    color: #333333;
                }

            .select-course__list {
                padding: 16px 24px;
            }
                .select-course__item {
                    position: relative;
                    height: 80px;
                    padding-top: 8px;
                    margin-bottom: 16px;
                    padding-left: 96px;
                }
                    .select-course__item::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: inline-block;
                        vertical-align: top;
                        width: 80px;
                        height: 80px;
                        background-color: #BFBFBF;
                        border-radius: 15px;
                        margin-right: 16px;
                        font-size: 18px;
                    }

                    .select-course__item-heading {

                    }

                    .select-course__tags {
                        margin-top: 2px;
                    }

                    .select-course__hashtags {
                        margin-top: 6px;
                        width: 242px;
                        height: 32px;
                        background-image: url("../temp/course-select-hashtags.svg");
                    }

            .select-course__form {
                padding: 16px 24px 42px;
            }
                .select-course__tabs {

                }

                .select-course__fieldset {
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .select-course__requisites {
                    margin-top: 24px;
                    font-weight: 500;
                    color: #666666;
                }

                .select-course__checks {
                    margin-top: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }

                .select-course__submit {
                    margin-top: 16px;
                }
                    .select-course__submit .button {
                        width: 100%;
                    }

                .select-course__note {
                    margin-top: 8px;
                    color: #666666;
                    text-align: center;
                }

            .select-course__input {
                height: 56px;
                margin-bottom: 8px;
                background-color: #FFFFFF;
                border: 1px solid #B3B3B3;
                border-radius: 16px;
            }
