.hero {
    position: relative;
    padding-top: 244px;
}
    .hero__logo {
        position: absolute;
        left: 48px;
        top: 70px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .hero__trailer-handler {
        position: absolute;
        right: 48px;
        top: 48px;
        display: block;
        width: 96px;
        height: 64px;
        background-image: url("../images/trailer-handler/trailer-handler.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    @media (min-resolution: 1.2dppx) {
        .hero__trailer-handler {
            background-image: url("../images/trailer-handler/trailer-handler@2x.png");
        }
    }

    .hero__contains {

    }
        .hero__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 56px;
            line-height: 64px !important;
            text-align: center;
            color: var(--50pct-gray-label);
        }
            .hero__line {

            }
                .hero__highlight {
                    color: #FFFFFF;
                }

                .hero__product {
                    margin-left: 4px;
                    display: inline-flex;
                    vertical-align: top;
                    align-items: flex-start;
                    gap: 8px;
                    color: #FFFFFF;
                }

                .hero__product--less-margin {
                    margin-left: 0;
                }

                .hero__product--margin-on-right {
                    margin-right: 10px;
                }

                .hero__product--link {
                    text-decoration: 3px underline currentColor;
                    text-underline-offset: 10px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .hero__product--link:hover {
                    text-decoration-color: transparent;
                }
                    .hero__icon {
                        position: relative;
                        top: 2px;
                    }

                    .hero__icon--video {
                        border-radius: 16px;
                    }
