.stage {
    position: relative;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .stage__logo {
        position: absolute;
        left: 48px;
        top: 70px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .stage__trailer-handler {
        position: absolute;
        right: 48px;
        top: 48px;
        display: block;
        width: 96px;
        height: 64px;
        background-image: url("../images/trailer-handler/trailer-handler.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    @media (min-resolution: 1.2dppx) {
        .stage__trailer-handler {
            background-image: url("../images/trailer-handler/trailer-handler@2x.png");
        }
    }

    .stage__contains {

    }
        .stage__pre-heading {
            color: var(--50pct-gray-label);
            text-align: center;
        }

        .stage__heading {
            margin-top: 16px;
            font-size: 56px;
            line-height: 56px;
            text-align: center;
            color: var(--50pct-gray-label);
        }
            .stage__line {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 24px;
            }
                .stage__product {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: #FFFFFF;
                }
                    .stage__icon {

                    }

                    .stage__icon + .stage__icon {
                        margin-left: -8px;
                    }

        .stage__actions {
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        }
            .stage__begins {
                flex-grow: 1;
            }
                .stage__begins .button {
                    width: 100%;
                }

            .stage__telegram {
                flex-shrink: 0;
            }
