.stage {
    position: relative;
    padding-top: 244px;
}
    .stage__logo {
        position: absolute;
        left: 48px;
        top: 70px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .stage__trailer-handler {
        position: absolute;
        right: 48px;
        top: 48px;
        display: block;
        width: 96px;
        height: 64px;
        background-image: url("../images/trailer-handler/trailer-handler.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    @media (min-resolution: 1.2dppx) {
        .stage__trailer-handler {
            background-image: url("../images/trailer-handler/trailer-handler@2x.png");
        }
    }

    .stage__contains {

    }
        .stage__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 56px;
            line-height: 64px !important;
            text-align: center;
            color: var(--50pct-gray-label);
        }
            .stage__line {

            }
                .stage__highlight {
                    color: #FFFFFF;
                }

                .stage__product {
                    margin-left: 4px;
                    display: inline-flex;
                    vertical-align: top;
                    align-items: flex-start;
                    gap: 8px;
                    color: #FFFFFF;
                }

                .stage__product--less-margin {
                    margin-left: 0;
                }

                .stage__product--margin-on-right {
                    margin-right: 10px;
                }

                .stage__product--underlined {
                    text-decoration: 3px underline currentColor;
                    text-underline-offset: 10px;
                }
                    .stage__icon {
                        position: relative;
                        top: 2px;
                    }

                    .stage__icon--video {
                        border-radius: 16px;
                    }
