.story {
    display: block;
    margin-left: -70px;
    margin-right: -70px;
}
    .story__video {
        vertical-align: top;
        width: 100%;
        height: auto;
        aspect-ratio: 720/1280;
        background-color: var(--image-fallback);
        border-radius: 16px;
    }


.story--pushed {
    padding-top: 24px;
}
