.switch {
    display: flex;
    align-items: stretch;
    gap: 4px;
    padding: 2px;
    background-color: var(--7pct-bg-new);
    border-radius: 32px;
}
    .switch__tab {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        border: none;
        background-color: transparent;
        padding: 21px 30px;
        font-family: inherit;
        border-radius: 31px;
        text-align: left;
        color: #CCCCCC;
        cursor: pointer;
    }

    .switch__tab:hover {

    }

    .switch__tab--current,
    .switch__tab--current:hover {
        background-color: var(--20pct-tool-tip);
        color: #333333;
        cursor: default;
    }
        .switch__heading {
            display: block;
            text-align: left;
            color: var(--50pct-gray-label);
        }

        .switch__value {
            display: block;
            margin-top: 8px;
            color: #FFFFFF;
            text-align: left;
        }
