.text {
    font-weight: 500;
}

.text--h1 {
    font-size: 56px;
    line-height: 50px;
    letter-spacing: -1.1px;
}

.text--h2 {
    font-size: 40px;
    line-height: 40px;
}

.text--h3 {
    font-size: 26px;
    line-height: 32px;
}

.text--h4 {
    font-size: 22px;
    line-height: 28px;
}

.text--h3-block-name {
    font-size: 26px;
    line-height: 30px;
}

.text--name-block {
    font-size: 26px;
    line-height: 30px;
}

.text--label {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.12px;
}

.text--main {
    font-size: 20px;
    line-height: 24px;
}

.text--small {
    font-size: 16px;
    line-height: 20px;
}

.text--btn-input-logo {
    font-size: 20px;
    line-height: 20px;
}

.text--hashtag {
    font-size: 16px;
    line-height: 16px;
}

.text--input-label {
    font-size: 14px;
    line-height: 14px;
}

.text--additional {
    font-size: 20px;
    line-height: 24px;
}

.text--price {
    font-size: 26px;
    line-height: 26px;
}

.text--faq-text {
    font-size: 22px;
    line-height: 26px;
}
