.text {

}

.text--h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 50px;
    letter-spacing: -1.1px;
}

.text--h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.text--name-block {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
}

.text--label {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1.12px;
}

.text--aft-h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.text--main {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.text--small {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.text--btn-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.32px;
}

.text--hashtag {
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
}


.text--label-input {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}
