.work {
    background-color: #FFFFFF;
    border-radius: 32px;
    padding: 30px;
    user-select: none;
}
    .work img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
