.work {
    width: 180px;
    height: 180px;
    background-color: var(--12pct-block);
    border-radius: 48px;
    user-select: none;
}
    .work img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
