@media (width < 1850px) {

    .container {
        width: 100%;
    }
}


@media (1850px <= width) {
    .container {
        width: 100%;
    }

    .cut-carousel-demo-only {
        zoom: 1.33;
    }

    .stage {
        min-height: 75svh;
    }
}
